html, body {

    transition: all 3s ease-in-out; 
    background-image:url(2iiH.gif);
    max-height: 100vh;
    background-color: black;
    cursor:url('cursor.png');
  }
  
  /*
  Structure:
  
  container
     slide-container
      slide
      slide
      slide
      ...
     /  
     slide-toggle-container
      slide-toggle
      slide-toggle
     /
  /
  */
  
  .container {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  .slide-container {
    position: absolute;
    left: 0;
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .slide {
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .slide > * {
    position: relative;
    font-size: 3em;
    margin: 0;
   
  }

  .resize{
    
    padding: 10px;
    background-color: aliceblue;
    transition: all 2s ease-in-out; 

  }



   
   .resize:hover {
   
   transform: scale(1.1); 

  }

  
  .des {
    font-size: 1.5em;
    margin: 1em;
    cursor: pointer;
    user-select: none;
  }
  
  .pee{
    scale:(0.5);
    padding:10px;
    position: absolute;
    width: 25%;
    height: 100%;
    right:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
   background-color: aliceblue;
   opacity: 75%;
   min-height: 60vh;
    transition: all .2s ease-in-out; 
    background-image: linear-gradient(white, black);
   mix-blend-mode: difference;
   transition: all 2s ease-in-out; 


  }

  .pee:hover{
   
    border-radius: 25%;
    opacity:100%;
    background-image: linear-gradient(white, rgb(255, 255, 255));
    transform: scale(1.1) translateY(-19px);


  }
  
  
  strong {

    color:white;
  }
  
  nav a {
    text-decoration: none;
    color: white;
  }
  

  audio {

    opacity: 0%;
    color:black;
    padding-top: 10px;


  }